<%# colapsed card %>
<%#= cl_image_tag booking_card.foodtruck.photo.key, :class => "img-booking", crop: :fill %>
<div class="container-fluid mt-4 table-wrapper" >
      <h4 class=""><%= booking_card.created_at.strftime("Reservation made on %A, %b %d %Y for ") %> <%= booking_card.foodtruck.name %></h4>
  <div class="row">
    <div class="col">
      <p class="header">Booking Date</p>
      <div class="fade_in"><%= booking_card.start_time.strftime("%b %d, %Y ") %> - <%= booking_card.end_time.strftime("%b %d, %Y ") %></div>
    </div>
    <div class="col">
      <p class="header">Location</p>
      <div class="fade_in"><%= booking_card.event_location %></div>
      <div class="secondary"></div>
    </div>
    <div class="col">
      <p class="header">Reservation status</p>
      <% if current_user.is_restaurant? == true %>
      <div class="fade_in"><%= booking_card.status.capitalize %></div>
      <% end %>
    </div>
  </div>
</div>
