  <div class="card-details mt-4 mb-4" style="width: 100%;">
      <%= cl_image_tag booking_card.foodtruck.photo.key, :class => "img-booking", crop: :fill %>
      <div class="card-summary" style="display: flex;align-items: center;">
        <div class="ml-4">
        </div>
      </div>
  </div>
    <div class="card-details mt-4" style="width: 100%;">
      <div class="table-wrapper">
        <ul class="horizontal col header">
          <li class="content">Truck Name</li>
          <li class="content">Reservation Made</li>
          <li class="content">Booking Date</li>
          <li class="content">Event</li>
          <li class="content ">Location</li>
          <li class="content right">Attendees</li>
        </ul>
        <ul class="data col horizontal">
          <li class="content">
            <div><%= booking_card.foodtruck.name %></div>
          </li>
          <li class="content">
            <div><%= booking_card.created_at.strftime("%b %d, %Y ") %></div>
          </li>
          <li class="content">
            <div><%= booking_card.start_time.strftime("%b %d, %Y ") %> to <%= booking_card.end_time.strftime("%b %d, %Y ") %></div>
            <div class="secondary"></div>
          </li>
          <li class="content">
            <div><%= booking_card.event_name %></div>
            <div class="secondary"><%= booking_card.event_details %></div>
          </li>
          <li class="content">
            <div><%= booking_card.event_location %></div>
            <div class="secondary"></div>
          </li>
          <li class="content">
            <div><%= booking_card.expected_attendees %></div>
            <div class="secondary"></div>
          </li>
          <% if current_user.is_restaurant? == true %>
            <% if booking_card.pending? %>
              <%= simple_form_for booking_card do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                <%= f.submit 'Accept', class: 'btn btn-info' %>
              <% end %>
              <%= simple_form_for booking_card do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                <%= f.submit 'Reject', class: 'btn btn-info' %>
              <% end %>
            <% else %>
              <p class='booking-tag'><%= booking_card.status %></p>
            <% end %>
            <% else %>
              <p class='booking-tag'><%= booking_card.status %></p>
          <% end %>

        </ul>
      </div>
    </div>





