<%# colapsed card %>
<div class="container-fluid mt-4 table-wrapper" >
  <div class="table-header">
    <div class="header-image mr-2 mt-1 mb-3">
        <%= cl_image_tag booking_card.foodtruck.photo.key, crop: :fill, width: 100, height: 100 %>
    </div>
      <h2 class=""><%= booking_card.created_at.strftime("Reservation made on %A, %b %d %Y for ") %> <%= booking_card.foodtruck.name %></h2>
  </div>
  <div class="row">
    <div class="col">
      <p class="header">Booking Date</p>
      <div class="fade_in"><%= booking_card.start_time.strftime("%b %d, %Y ") %> - <%= booking_card.end_time.strftime("%b %d, %Y ") %></div>
    </div>
    <div class="col">
      <p class="header">Location</p>
      <div class="fade_in"><%= booking_card.event_location %></div>
      <div class="secondary"></div>
    </div>
    <div class="col">
      <p class="header">Reservation status</p>
      <div class="fade_in"><%= booking_card.status.capitalize %></div>
    </div>
  </div>
  <div style="
    display: flex;
    justify-content: flex-end;" class="mr-5">
    <button class="btn-expand mt-3 btn btn-primary btn-orange btn-block">Show Booking Details</button>
  </div>
  <div class="row hidden expand mt-5">
      <div class="col">
    <h4 class="booking-detail-header">Request Details:</h4>
      <p> <b>Event Name:</b> <%= booking_card.event_name %> </p>
      <p><b> Event Details:</b> <%= booking_card.event_details %> </p>
      <p><b> Expected Attendees:</b> <%= booking_card.expected_attendees %> </p>
    </div>


    <div class="col">
      <h4 class="booking-detail-header">Event Host:</h4>
        <p><b> Host Name: </b><%= booking_card.user.first_name %>  <%= booking_card.user.last_name %></p>
        <p><b> Host Email: </b><%= booking_card.user.email %> </p>
    <div style="display: flex">
          <% if current_user.is_restaurant? == true %>
            <% if booking_card.status == 'pending' %>
              <%= simple_form_for booking_card, html: { class: "mr-2"} do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                <%= f.submit 'Accept Booking', class: 'btn btn-info btn-orange' %>
              <% end %>
              <%= simple_form_for booking_card do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                <%= f.submit 'Reject Booking', class: 'btn btn-info mr-2 btn-orange' %>
              <% end %>
            <% else %>
              <p class='booking-tag'></p>
            <% end %>
            <% else %>
              <p class='booking-tag'>✅ Sent!</p>
          <% end %>
        </div>
    </div>

  </div>
</div>


