<div class="panel panel-default">
    <div class="panel-heading">
        <span><i class="fa fa-bolt" style="color: #ffb400"></i> $<%= @foodtruck.name %></span>
        <span class="pull-right">'s foodtruck rent form</span>
    </div>
    <div class="panel-body">
        <%= simple_form_for [@foodtruck, @booking] do |f| %>
            <div class="row">
                <div class="col-md-6">
                    <label>Rent start date</label>
                    <%= f.input :start_time, as: :date, readonly: false, placeholder: "Start Date", input_html: { class: "datepicker" } %>
                </div>
                <div class="col-md-6">
                    <label>Rent end date</label>
                    <%= f.input :end_time, as: :date, readonly: false, placeholder: "End Date", disabled: false, input_html: { class: "datepicker" }  %>
                </div>
                <div class="col-md-12">
                    <label>Your event's name</label>
                    <%= f.input :event_name, readonly: false, placeholder: "Event name", disabled: false %>
                </div>
                <div class="col-md-12">
                    <label>Your event's details</label>
                    <%= f.input :event_details, readonly: false, placeholder: "Event details", disabled: false %>
                </div>
                <div class="col-md-12">
                    <label>How many people will attend?</label>
                    <%= f.input :expected_attendees, readonly: false, placeholder: "Number of people", disabled: false %>
                </div>
                <div class="col-md-12">
                    <label>Where is the location of the event?</label>
                    <%= f.input :event_location, readonly: false, placeholder: "Location address", disabled: false %>
                </div>
            </div>
            <h4 class="message-alert text-center"><span id="message"></span></h4>
            <br />
            <%= f.submit "Book Now", id: "btn_book", class: "btn btn-normal btn-block", disabled: false %>
        <% end %>
    </div>
</div>