<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <%= form_for([@foodtruck, @foodtruck.bookings.new]) do |f| %>
        <div class="row">
            <div class="col-md-6">
                <label class="mt-3">Rent start date</label>
                <%= f.text_field :start_time, readonly: false, placeholder: "Start Date", class: "form-control datepicker" %>
            </div>
            <div class="col-md-6">
                <label class="mt-3">Rent end date</label>
                <%= f.text_field :end_time, readonly: false, placeholder: "End Date", class: "form-control datepicker", disabled: false %>
            </div>
            <div class="col-md-12">
                <label class="mt-3">Your event's name</label>
                <%= f.text_field :event_name, readonly: false, placeholder: "Event name", class: "form-control datepicker", disabled: false %>
            </div>
            <div class="col-md-12">
                <label class="mt-3">Your event's details</label>
                <%= f.text_field :event_details, readonly: false, placeholder: "Event details", class: "form-control datepicker", disabled: false %>
            </div>
            <div class="col-md-12">
                <label class="mt-3">How many people will attend?</label>
                <%= f.text_field :expected_attendees, readonly: false, placeholder: "Number of people", class: "form-control datepicker", disabled: false %>
            </div>
            <div class="col-md-12">
                <label class="mt-3">Where is the location of the event?</label>
                <%= f.text_field :event_location, readonly: false, placeholder: "Location address", class: "form-control datepicker", disabled: false %>
            </div>
        </div>
        <h4 class="message-alert text-center"><span id="message"></span></h4>
        <div id="preview" style="display: none;">
            <table class="booking-table">
                <tbody>
                    <tr>
                        <td>Price</td>
                        <td class="text-right">$<%= @foodtruck.name %></td>
                    </tr>
                    <tr>
                        <td>Day (s)</td>
                        <td class="text-right">x <span id="booking_days"></span></td>
                    </tr>
                    <tr>
                        <td class="total">Price</td>
                        <td class="text-right">$<span id="booking_total"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <%= f.submit "Book Now", id: "btn_book", class: "btn btn-secondary", disabled: false %>
        <% end %>
    </div>
</div>