<div class="panel panel-default">
    <div class="panel-body">

        <%= simple_form_for [@foodtruck, @booking] do |f| %>
            <div class="row">
                <div class="col-md-6">
                    <%= f.input :start_time, as: :date, html5: true, readonly: false, placeholder: "Rent start date", input_html: { class: "datepicker" } %>
                </div>
                <div class="col-md-6">
                    <%= f.input :end_time, as: :date, html5: true, readonly: false, placeholder: "End Date", disabled: false, input_html: { class: "datepicker" }  %>
                </div>
                <div class="col-md-12">
                    <%= f.input :event_name, readonly: false, placeholder: "Event name", disabled: false %>
                </div>
                <div class="col-md-12">
                    <%= f.input :event_details, readonly: false, placeholder: "Event details", disabled: false %>
                </div>
                <div class="col-md-12">
                    <%= f.input :expected_attendees, readonly: false, placeholder: "Number of people", disabled: false %>
                </div>
                <div class="col-md-12">
                    <%= f.input :event_location, readonly: false, placeholder: "Location address", disabled: false %>
                </div>
            </div>
            <h4 class="message-alert text-center"><span id="message"></span></h4>
            <br />
            <%= f.submit "Book Now", id: "btn_book", class: "btn btn-primary btn-orange btn-block", disabled: false %>
        <% end %>
    </div>
</div>
