<nav id="menu-categories">
	<ol>
        <li>
			<span class="food-category-name">Bubble Tea</span>
			<%= link_to "shared/foodcategory/fastfood", class: "img-menu" do %>
            <%= image_tag "menu/boba.png" %>     
            <% end %>
		</li>
        <li>
			<span class="food-category-name">Burgers</span>
			<%= link_to "#", class: "img-menu" do %>
            <%= image_tag "menu/burger.png" %>     
            <% end %>
		</li>
        <li>
			<span class="food-category-name">Chicken</span>
			<%= link_to "#", class: "img-menu" do %>
            <%= image_tag "menu/friedchicken.png" %>     
            <% end %>
		</li>
        <li>
			<span class="food-category-name">Desserts</span>
			<%= link_to "#", class: "img-menu" do %>
            <%= image_tag "menu/parfait.png" %>     
            <% end %>
		</li>
		<li>
			<span class="food-category-name">Fish and Chips</span>
			<%= link_to "#", class: "img-menu" do %>
            <%= image_tag "menu/fishnchips.png" %>     
            <% end %>
		</li>
		<li>
			<span class="food-category-name">Hotdog</span>
			<%= link_to "#", class: "img-menu" do %>
            <%= image_tag "menu/hotdog.png" %>     
            <% end %>
		</li>
        	<li>
			<span class="food-category-name">Italian</span>
			<%= link_to "#", class: "img-menu" do %>
            <%= image_tag "menu/pizza.png" %>     
            <% end %>
		</li>
        <li>
			<span class="food-category-name">Japanese</span>
			<%= link_to "#", class: "img-menu" do %>
            <%= image_tag "menu/sushi.png" %>     
            <% end %>
		</li>
          <li>
			<span class="food-category-name">Kebab</span>
			<%= link_to "#", class: "img-menu" do %>
            <%= image_tag "menu/kebab.png" %>     
            <% end %>
		</li>
        <li>
			<span class="food-category-name">Mexican</span>
			<%= link_to "#", class: "img-menu" do %>
            <%= image_tag "menu/burrito.png" %>     
            <% end %>
		</li>
    

	</ol>
</nav>