<div class="container-fluid" id="card-container" >
<h2 class="foodtruck-count">All Foodtrucks (<%= @foodtrucks.count%>)</h2>
  <div class="grid" data-isotope='{ "itemSelector": ".card", "layoutMode": "fitRows" }'>
    <% @foodtrucks.each do |foodtruck| %>
      <%= link_to foodtruck_path(foodtruck) do %>
        <div class="card grid-item" style="width: 18rem;">
          <%= cl_image_tag foodtruck.photo.key, :height=>200, :crop=>"fill", :class => "img-card" %>
          <div class="card-body">
            <h5 class="card-title"> <%= foodtruck.name %></h5>
            <p class="card-food-type"><%= foodtruck.food_type %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
