<h2>Add a new foodtruck</h2>

<%= simple_form_for [@foodtruck] do |f| %>
  <%= f.input :name, label: 'Foodtruck name' %>
  <%= f.input :description, as: :text, label: 'Description' %>
  <%= f.input :food_type, label: 'Cuisine' %>
  <%= f.input :menu_package, as: :text, label: 'Menu package' %>
  <%= f.input :location, label: 'Address' %>
  <%= f.input :photo, as: :file, label: 'Upload photo' %>
  <%= f.button :submit, class: 'btn btn-primary', value: 'Submit' %>
<% end %>
