<div class="container">
  <div class="booking-container">
    
    <div class="foodtruck-img">
      <%= cl_image_tag @foodtruck.photo.key, width: 800, crop: :fill %> 
    </div>

    <div class="col-md-4 booking-form">
      <h2>Book foodtruck</h2>
      <!-- Reservation Form -->
      <%= render 'bookings/form' %>
    </div>
  </div>

  <div class="foodtruck-info">
    <h1><%= @foodtruck.name %></h1>
    <p>Food Type: <%= @foodtruck.food_type %></p>
    <p>Location: <%= @foodtruck.location %></p>
    <p>Menu Package: <%= @foodtruck.menu_package %></p>
    <p>Description <%= @foodtruck.description %></p>
  </div>

  <%# Only show the edit button if the user has authorization to make foodtrucks %>
  <% if policy(Foodtruck).create? %>
    <button type="button" class="btn btn-primary">Edit your foodtruck</button>
  <% end %>
</div>